@import "~bulma/sass/utilities/initial-variables.sass";

// colors
$primary: #00bdb5;
$secondary: #2d3047;
$third: #2d3047;

$gradient1: #00b2c9;
$gradient2: #00c6a1;

:root {
  --primary: #{$primary};
  --grey: #{$grey};
  --gradient-1: #{$gradient1};
  --gradient-2: #{$gradient2};
}
