.loginPage {
  background:  #5ac8fa ;
}
@font-face {
	font-family: "Riesling";
	src: url('/public/assets/fonts/riesling.ttf');
}
.accueil{
  background-color: none;
}
h1{
  font-size: 26px;
  font-weight: bold;
  padding-top: 50px;
}
.items{
  padding-top: 100px;
}
.titre{
  font-family: "Riesling";
  font-size: 2em;
}