.loginPage {
  background:  #3793d1 ;
}
@font-face {
	font-family: "Riesling";
	src: url('/public/assets/fonts/riesling.ttf');
}
.accueil{
  background-color: none;
}
h1{
  font-size: 26px;
  font-weight: bold;
  padding-top: 50px;
}
.items{
  padding-top: 100px;
}
.titre{
  color: #ffffff;
  font-size: 2em;
}
